body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --border-radius: 4px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background: var(--color-primary);
    background-size: cover;
    font: 500 1rem "Century Gothic", sans-serif;

  }

header {
      position: relative;
      background: var(--color-primary-dark);
      width: 100%;

 }

 footer {
    position: relative;	
    background: var(--color-primary-dark);
    width: 100%;

}

#main {
    margin: auto;
    height: auto;
    width: 60%;
    border: 3px solid darkgreen;
    padding: 10px;
    background-color: var(--color-primary-dark);
    text-align: center;
  }

#main p {
    color: white;
    font: arial;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--color-primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .header { 
    padding: 0;
  }
  
  .header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
  }
  
  .logo h1 {
    color: white;
    font-size: 1.5em;
    margin: .8em 0 .3em 0;
    display: inline-block;
  }

  .logo img {
    padding-top: 3%;  
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }

  input[type=submit]:hover {
    background-color: var(--color-primary-dark);
  }
  
  .feedback {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  header h2 {
      position: absolute;
      margin-top: 20px;
      left: 10%;
      color: white;
      cursor: pointer;
  }

  .nav {
      position: absolute;
      width: 100%;
  }

  .nav a {
      position: relative;
      left: 80%;
      top: 20px;
      margin-right: 20px;
      transition: all 0.3s ease 0s;
      color: white;
      text-decoration: none;
      font-size: 18px;
  }

  .nav a:hover {
    color: black;
}

    header {
        height: 10vh;
}

  footer{
      overflow: hidden;
      height: 10vh;
      bottom: 0px;
  }

  footer h2 {
      position: absolute;
      left: 45%;
      top: 10px;
      color: white;
      font-size: 18px;
      font-weight: 300;
  }